/* styles.css or tailwind.css */

.btn-nav {
    padding: 12px 24px;
    /* Increased padding for larger buttons */
    font-size: 1.25rem;
    /* Increased font size for larger buttons */
    background-color: #4a5568;
    /* Adjust as needed */
    color: #ffffff;
    /* Adjust as needed */
    border-radius: 9999px;
    text-decoration: none;
    transition: background-color 0.3s ease-in-out;
}

.btn-nav:hover {
    background-color: #2d3748;
    /* Adjust as needed */
}