/* styles.css or tailwind.css */

.btn-nav {
    padding: 12px 24px;
    /* Increased padding for larger buttons */
    font-size: 1.25rem;
    /* Increased font size for larger buttons */
    background-color: #4a5568;
    /* Adjust as needed */
    color: #ffffff;
    /* Adjust as needed */
    border-radius: 9999px;
    text-decoration: none;
    transition: background-color 0.3s ease-in-out;
}

.btn-nav:hover {
    background-color: #2d3748;
    /* Adjust as needed */
}

.feature-item {
    padding-left: 1rem;
    /* Adjust this value as needed to align the features list */
}

#productDetailsModal .modal-content {
    display: flex;
    flex-direction: row;
    height: 100%;
}

#productDetailsModal .left-column {
    flex: 1;
    /* ensures that the image column takes up only as much space as it needs */
}

#productDetailsModal .right-column {
    flex: 1;
    /* allows the details column to expand and fill the space */
    background-color: var(--modal-details-background);
    /* use a CSS variable or directly input the value */
}